body {
}
.dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
    width:200px;
}

.grid-ddw .dropdown-menu {
    width:400px;
    float:right;
    left:-100px !important;
    min-height:300px;
    box-shadow:6px 6px 3px -3px #bfbfbf;
    border-radius:0px;
    padding:10px;
}

    .grid-ddw .dropdown-menu h5 {
        text-align:center;
    }
.template_field .btn {
    padding:2px 6px;
}